.billboard {
  padding: 25px 0;
  h1,
  h2 {
    line-height: 1;
    text-transform: uppercase;
    width: 300px;
    margin: 0 auto 0 0;
    font-size: 1.5em;
    text-align: center;
  }
  h1,
  h2:not(.cinema) {
    border: 2px solid black;
    border-left: none;
    border-right: none;
  }
  h2 {
    &.cinema {
      font-size: 4em;
    }
  }
}
